<!-- views/login.ejs -->
<!doctype html>
<html>
   <head>
      <title>Weather Forecast</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <!-- load bootstrap css -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <!-- load fontawesome -->
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
      <script type="text/javascript">
         if (navigator.geolocation) {
             navigator.geolocation.getCurrentPosition(function (p) {
                 document.getElementById("lonlat").value=(p.coords.latitude+','+p.coords.longitude);
          
             });
         } else {
             alert('Geo Location feature is not supported in this browser.');
         }
         
         function change(field)
         {
         if(document.getElementById('city')== field)
         {
         document.getElementById('citytext').setAttribute('style','visibility:visible');
         document.getElementById('lonlat').setAttribute('style','visibility:hidden');
         document.getElementById('forecast2').setAttribute('style','visibility:hidden');
         document.getElementById('forecast1').setAttribute('style','visibility:visible');
         document.getElementById('geoid').value = "";
         document.getElementById('forecast3').setAttribute('style','visibility:hidden');
         document.getElementById('geoid').setAttribute('style','visibility:hidden');
         
         }
         if(document.getElementById('cur')== field)
         {
         document.getElementById('lonlat').setAttribute('style','visibility:visible');
         document.getElementById('citytext').setAttribute('style','visibility:hidden');
         document.getElementById('citytext').value = "";
         document.getElementById('forecast1').setAttribute('style','visibility:hidden');
         document.getElementById('forecast2').setAttribute('style','visibility:visible');
         document.getElementById('geoid').value = "";
         document.getElementById('forecast3').setAttribute('style','visibility:hidden');
         document.getElementById('geoid').setAttribute('style','visibility:hidden');

         }
		 if(document.getElementById('geo')== field)
         {
         document.getElementById('lonlat').setAttribute('style','visibility:hidden');
         document.getElementById('citytext').setAttribute('style','visibility:hidden');
         document.getElementById('citytext').value = "";
         document.getElementById('forecast1').setAttribute('style','visibility:hidden');
         document.getElementById('forecast2').setAttribute('style','visibility:hidden');
         document.getElementById('forecast3').setAttribute('style','visibility:visible');
         document.getElementById('geoid').setAttribute('style','visibility:visible');
         }
         }
      </script>
      <style>
         body        { padding-top:80px; }
      </style>
   </head>
   <body>
      <div class="container">
         <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-cloud"></span>Weather Forecast</h1>
            <!-- LOGIN FORM -->
            <table>
            <tr>
		        <td>
                  <div class="form-group">
                     <form action="/weatherByGeo" method="post">
                        <table>
                           <tr>
                              <td>
                                 <input type="button" id="cur" class="btn btn-success btn-lg" value="Current Location" onClick="change(this)">
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <input id="lonlat" type="text" class="form-control" name="lonlat" style="visibility:hidden">
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <button type="submit" class="btn btn-success btn-lg" id="forecast2" style="visibility:hidden">Forecast</button>
                              </td>
                           </tr>
                        </table>
                     </form>
                  </div>
               </td>
               <td>
                  <div class="form-group">
                     <form action="/weatherByCity" method="post">
                        <table>
                           <tr>
                              <td>
                                 <input type="button" id="city" class="btn btn-success btn-lg" value="Custom City" onClick="change(this)">
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <input id="citytext" type="text" class="form-control" name="citytext" >
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <button type="submit" class="btn btn-success btn-lg" id="forecast1">Forecast</button>
                              </td>
                           </tr>
                        </table>
                     </form>
                  </div>
               </td>
                <td>
                  <div class="form-group">
                     <form action="/weatherById" method="post">
                        <table>
                           <tr>
                              <td>
                                 <input type="button" id="geo" class="btn btn-success btn-lg" value="Location ID" onClick="change(this)">
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <input id="geoid" type="text" class="form-control" name="geoid" style="visibility:hidden">
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <button type="submit" class="btn btn-success btn-lg" id="forecast3" style="visibility:hidden">Forecast</button>
                              </td>
                           </tr>
                        </table>
                     </form>
                  </div>
               </td>
            </tr>
         </div>
      </div>
   </body>
</html>

